.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.amazon_image {
    /* padding: 5px; */
    width: 500px;
    /* background-color: #131921 !important; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.image {
    background-color: #131921 !important;
    width: 100px;
}